# testing
/coverage
db.sqlite3
media/
__pycache__/
*.pyc

# Environments
.venv
.env
venv/
env/

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode